.recipes {
    margin-top: -30px;
    height: 520px;
}
.title {
    height: 30px;
}
h4 {
    float: left;
}
.mg-left-35{
    margin-left: 35px;
}
.card-recipe {
    width: 24%;
}
.center{
    text-align: center;
}